/* variables globales */

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Quicksand:wght@300;500;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0%;
}

:root {
  --very-light-grey: #939292;
  --text-input-field: #eae6e6;
  --hospital-green: #acd9b2;
  --white: white;
  --black: black;
  --sm: 14px;
  --md: 16px;
  --lg: 21px; 
}

.inactive {
  display: none;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-input-field);
  padding: 0 50px
}

.navbar-left {
  display: flex;
}

.menu {
  display: none;
}

.logo {
  width: 120px;
  margin-left: 20px;
  margin-right: 70px;
}

.email {
  cursor: pointer;
}

.email:hover {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}


.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0px;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar ul li a, .navbar ul li {
  text-decoration: none;
  color: var(--very-light-grey);
  margin: 9px;
}

.navbar ul li a:hover {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.navbar-right ul li:nth-child(2) div {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  color: var(--black);
  background-color: var(--hospital-green);
  font-size: var(--sm);
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 0;
}

.navbar-right {
  position: relative;
}

.navbar-right img {
  width: 30px;
}

.shopping-cart, .menu-hamburguesa {
  cursor: pointer;
}


/* menú en desktop */

.desktop-menu {
  position: absolute;
  right: 100px;
  top: 70px;
  background-color: var(--white);
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-grey);
  border-radius: 5px;
  padding: 20px 20px 0 20px;
}

.desktop-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:not(:last-child) {
  font-weight: bold;
}

.desktop-menu ul li a {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-grey);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

/* menú en mobile */

.menu-mobile {
  position: absolute;
  top: 60px;
  padding: 40px;
  background-color: var(--white);
}

.menu-mobile ul {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.menu-mobile ul li a, .menu-mobile ul li {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.you {
  border-top: 1px solid var(--very-light-grey);
  width: 200px;
}

.you ul {
  margin-top: 25px;
}

.ult-container {
  position: absolute;
  bottom: 0%;
}

.email ul {
  margin-bottom: 10px;

}

.email ul li a {
  font-weight: 300;
  font-size: var(--sm);
}

.signout ul {
  margin-top: 0;
}

.signout ul li a {
  color: var(--hospital-green);
  font-size: var(--sm);
  font-weight: bold;
}

/* menú del carrito de compras */

.container-carrito {
  position: absolute;
  margin-top: 1px;
  top: 60px;
  right: 30px;
  background-color: var(--white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 450px;
}

.cabecera {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: var(--lg);
}

.articles {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 20px;
    align-items: center;
  }

  .articles figure {
    margin: 0;
  }

  .articles figure img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
  }

  .articles p:nth-child(2) {
    color: var(--very-light-grey);
  }

  .articles p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
  }

  .footer {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 20px;
  }

  .footer p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }

  .footer p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 5px;
  }

  .footer p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }

  .footer p span:nth-child(2) {
    color: var(--very-light-grey);
  }

.check-button {
  height: 60px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: var(--hospital-green);
  color: var(--white);
  font-size: 18px;
  font-family: 'Quicksand';
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* página principal */

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  margin: 20px;
  gap: 26px;
  place-content: center;
}

.product-card {
  width: 240px;
}

.img-product {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure {
    margin: 0;
  }

figure img {
  margin-top: 10px;
  width: 70px;
  height: 70px;
}

.description div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--lg);
  margin-top: 0;
  margin-bottom: 4px;
}

.description div p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: var(--lg);
  color: var(--very-light-grey);
}

/* detalles del producto*/

.product-detail {
  width: 360px;
  position: absolute;
  top: 61px;
  right: 0%;
}

.product-detail > img:nth-child(1) {
  width: 20px;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: var(--white);
  padding: 8px;
  border-radius: 50%;
}

.product-detail > img:nth-child(1):hover {
  border: 1px solid var(--hospital-green);
  border-radius: 50%;
  padding: 8px;
}

aside .image-product {
  width: 100%;
  border-radius: 20px 0 0 20px;
  margin-bottom: 24px;
}

.info {
  margin: 0 24px;
}

.info p:nth-child(1) {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 4px;
}

.info p:nth-child(2) {
  color: var(--very-light-grey);
  margin-top: 0;
  margin-bottom: 25px;
}

.info p:nth-child(3) {
  color: var(--very-light-grey);
  font-size: var(--sm);
  margin-bottom: 36px;
}

.contenedor-boton {
  margin-left: 8px;
  margin-right: 8px;
}

.boton {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: var(--hospital-green);
  color: var(--white);
  font-size: 18px;
  font-family: 'Quicksand';
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}

@media (max-width: 640px) {
  .menu {
    display: block;
  }
  nav {
    padding: 0 24px;
  }
  .logo {
    justify-content: center;
    margin: 0;
  }
  .navbar-left {
    display: none;
  }
  .navbar-right img {
    width: 25px;
  }
  .email {
    display: none;
  }
  .desktop-menu {
    display: none;
  }
  .menu-mobile {
    width: 100%;
    margin-top: 1px;
  }
  .container-carrito {
    width: 100%;
    padding-left: 60px;
    box-sizing: border-box;
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    margin: 15px;
    gap: 10px;
  }
  .product-card {
    width: 140px;
  }
  .description {
    height: 70px;
  }
  .img-product {
    width: 140px;
    height: 140px;
    border-radius: 10px;
  }
  figure {
    margin: 0;
  }
  figure img {
    width: 70px;
    height: 50px;
  }
  .description div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .description div p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: var(--md);
    color: var(--very-light-grey);
  }
  .product-detail {
    width: 100%;
  }
  aside .image-product {
    width: 100%;
    border-radius: 0;
  }
}


@media (min-width: 601px) {
  .menu-mobile {
    display: none;
  }
}

